.auth-container {
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?w=1380&t=st=1688664700~exp=1688665300~hmac=32b8bc8ecbf74086b117482c08fe0ff8de3901f576e922eed796e4ec9059556e");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .auth-modal {
    background-color: rgba(110, 41, 41, 0.602);
    padding: 1rem;
    width: 400px;
    text-align: center;
  }
  
  .auth-modal h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: rgba(245, 245, 245, 0.83);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .auth-modal hr {
    border: none;
    border-top: 1px solid #6c4646;
    margin-bottom: 2rem;
  }
  
  .auth-modal input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: rgb(162, 53, 53) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.87);
  }
  
  .auth-modal input[type="email"],
  .auth-modal input[type="password"] {
    color: black;
  }
  
  .auth-modal .inicio_container {
    margin-bottom: 2rem;
  }
  
  .auth-modal .inicio_container .btn {
    margin-right: 1rem;
    background-color: #23a223;
    color: #fff;
    border-radius: 2rem;
    padding: .7rem 2rem;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
  }
  
  .auth-modal .inicio_container a {
    color: #fff;
    text-decoration: none;
  }
  
  .auth-modal .inicio_google {
    margin-bottom: 2rem;
  }
  
  .auth-modal .google-btn {
    background-color: #DB4437;
    color: white;
    border-color: #DB4437;
    padding: .7rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .auth-modal .google-btn:hover {
    background-color: #C53929;
    border-color: #C53929;
  }
  
  .inicio_container {
  margin-top: 25px;
  }