.principal-detail {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  
    .item-detail-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 30px;
      align-items: center;
  
      .img_container img {
        height: 450px;
        width: 500px;
      }
  
      .img_container {
        display: flex;
        justify-content: center;
      }
    }
  
    .item-detail-info {
      h2 {
        color: white;
        font-size: 40px;
        margin-top: 30px;
      }
  
      .item-detail-description {
        color: white;
        margin-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        width: 75%;
        line-height: 30px;
      }
  
      .item-detail-price {
        color: #00e602;
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 10px;
      }
  
      .item-detail-final {
        color: white;
        font-size: 30px;
        margin-top: 30px;
      }
  
      .item-detail-button {
        background-color: #40a640;
        border-color: #40a640;
        font-size: 18px;
        margin-top: 14px;
        padding: 10px 20px;
      }
  
      .detalle_card:hover {
        color: #00e602 !important;
      }
    }
  
    /* Estilos para tablets en modo vertical */
    @media (max-width: 1024px) {
      .item-detail-container {
        grid-template-columns: 1fr;
        max-width: 90%;
  
        .img_container img {
          width: 300px;
          height: auto;
        }
  
        .item-detail-info {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          h2 {
            font-size: 31px;
          }
        }
      }
    }
  
    /* Estilos para dispositivos móviles */
    @media (max-width: 768px) {
      .item-detail-container {
        grid-template-columns: 1fr;
        max-width: 90%;
        padding: 20px;
  
        .img_container img {
          width: 300px;
          height: auto;
        }
  
        .item-detail-info {
          h2 {
            font-size: 28px;
          }
  
          .item-detail-description {
            font-size: 16px;
            width: 100%;
          }
  
          .item-detail-price {
            font-size: 32px;
            margin-bottom: 20px;
          }
  
          .item-detail-final {
            font-size: 24px;
            margin-top: 20px;
          }
  
          .item-detail-button {
            font-size: 16px;
            
          }
  
          text-align: center;
        }
      }
    }
  }